.layut-site{
    display: flex;
    align-items: center;
    padding-block: 70px;
}

.layut-site img{
    margin-right: 140px;
    padding-right: 50px;
}

.txt{
    display: flex;
    justify-content: center;  
    align-items: center;
    text-align: center; 
}

.txt h1{

}

.space{
    padding: 50px;
}

.layout-desc{
    display: flex;
    justify-content: space-evenly;
    /* grid-template-columns: 1fr 1fr 1fr; */

}

.layout-desc img{
    /* height: 200px; */
    width: 100%;
}

.layout-desc p{
    color: #73757c;
}

.desc{
    margin-right: 22px;
}

